#treeMap {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  background: #fff;
}

#treeMap .node {
  border: solid 1px white;
  font-size: 0.625em;
  line-height: 1.2em;
  overflow: hidden;
  position: absolute;
  text-indent: 0.125em;
  transition: all $transitionSlow $easeInOutCubic;
}
