#treeMap {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}

#treeMap .node {
  border: solid 1px white;
  font-size: 0.625em;
  line-height: 1.2em;
  overflow: hidden;
  position: absolute;
  text-indent: 0.125em;
  transition: all $transitionSlow $easeInOutCubic;
}

// SVG

#treeMap svg {
  width: 100%;
  height: 100%;
}

#treeMap text {
  pointer-events: none;
}

#treeMap .grandparent {
  rect {
    y: 0;
    width: 100%;
    height: 20px;
    fill: orange;
  }

  &:hover rect {
    fill: #ee9700;
  }

  text {
    y: 6;
    x: 6;
    font-weight: bold;
  }
}

#treeMap rect {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 0.5%;
}

#treeMap rect.parent,
#treeMap .grandparent rect {
  stroke-width: 1%;
}

#treeMap .children rect.parent,
#treeMap .grandparent rect {
  cursor: pointer;
}

#treeMap .children rect.parent {
  fill: #ccc;
  fill-opacity: 0.5;
}

#treeMap .children:hover rect.parent {
  fill: #808080;
}

#treeMap .children rect.child {
  fill: #ccc;
}

#treeMap .children text {
  font-size: 0.625em;
  line-height: 1.2em;
  transform: translate3d(3px, 3px, 0);
}

#treeMap .depth {
  transform: translate3d(0, 20px, 0);
}
